<div class="container my-5 list-container">
  <div class="row">
    <div class="col-xl-8 offset-xl-2">
      <div class="row">
        <h1 class="mb-4">{{typeName | titlecase}}</h1>
        <div *ngFor="let pokemon of pokemons; let i = index" class="col-md-6">
          <div
            class="card mb-3 bg-{{typeName}}"
            >
            <div class="card-body">
              <div class="row">
                <div class="col-7 col-sm-8">
                  <h3 class="card-title">{{ pokemon.pokemon.name | titlecase }}</h3>
                  <span
                    *ngFor="let type of pokemon.pokemon.types;"
                    class="badge border rounded-pill me-1 bg-{{pokemon.pokemon.name}}"
                  >
                    {{ type.type.name | titlecase }}
                  </span>
                </div>
                <div class="col-5 col-sm-4" >
                  <img
                    src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/{{
                      pokemon.pokemon.url.split('/')[(pokemon.pokemon.url.split('/').length)-2]
                    }}.png"
                    class="img-fluid"
                    alt="..."
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
